<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Accounts</title>
    <style>
        .block {
            margin: 10px 0;
        }

        .block-btn {
            display: inline;
            padding-right: 10px;
        }
    </style>
</head>
<body>

<header class="p-3 bg-dark text-white" th:insert="fragments/header::header"></header>

<div class="container">
    <div class="row">
        <div th:each="response : ${ responses }" class="col-sm-6 w-25" style="margin-top: 30px;" th:id="${response.queueId}">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><b>Name:</b> <span th:text="${response.customer.getFullName()}">Test Test</span></p>
                    <p class="card-text"><b>Telephone:</b> <span class="card-telephone" th:text="${response.customer.phoneNumber}">12345678910</span></p>
                    <p class="card-text"><b>Country:</b> <span th:text="${response.customer.country.getCountry}">Russia</span></p>
                    <p class="card-text"><b>Gender:</b> <span th:text="${response.customer.gender.getGender}">Male</span></p>
                    <p class="card-text"><b>Card number:</b> <span class="card-number" th:text="${response.bankAccount.cardNumber}">1235123512351235</span></p>

                    <div class="block">
                        <form class="block-btn" th:object="${response}">
                            <select hidden name="queueId">
                                <option th:value="*{queueId}"></option>
                            </select>
                            <input class="btn btn-primary accept_form" type="submit" value="Accept">
                        </form>
                        <form class="block-btn" th:object="${response}">
                            <select hidden name="queueId">
                                <option th:value="*{queueId}"></option>
                            </select>
                            <input class="btn btn-danger reject_form" type="submit" value="Reject">
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js"></script>
<script>
    const collection = document.getElementsByClassName("card-body");

    for (let e of collection) {
        let cardNumb = e.getElementsByClassName("card-number")[0]
        let cardFormatStr = "";
        for (let i = 0; i < 16; i++) {
            if (i % 4 === 0) {
                cardFormatStr += " " + cardNumb.textContent[i];
            } else {
                cardFormatStr += cardNumb.textContent[i];
            }
        }
        cardNumb.textContent = cardFormatStr;

        let phoneNumb = e.getElementsByClassName("card-telephone")[0]
        let textContent = phoneNumb.textContent
        phoneNumb.textContent = `${textContent.substring(0, 2)} (${textContent.substring(2, 5)})-${textContent.substring(5, 8)}-${textContent.substring(8, textContent.length)}`
    }

    const csrfToken = $("meta[name='_csrf']").attr("content");

    $(".accept_form").click(function() {
        let cardId = $(this).parent().serializeArray()[0].value;
        $.ajax({
            type: 'PATCH',
            url: "/api/private/account/accept",
            headers: {'X-CSRF-TOKEN': csrfToken},
            data: $(this).parent().serialize(),
            statusCode: {
                200: function(response) {
                    $( "#" + cardId ).remove();
                    alert(response);
                },
            },
        });
        return false;
    });

    $(".reject_form").click(function() {
        let cardId = $(this).parent().serializeArray()[0].value;
        $.ajax({
            type: 'DELETE',
            url: "/api/private/account/reject",
            headers: {'X-CSRF-TOKEN': csrfToken},
            data: $(this).parent().serialize(),
            statusCode: {
                200: function(response) {
                    $( "#" + cardId ).remove();
                    alert(response);
                },
            },
        });
        return false;
    });

</script>

</body>
</html>